#container
{
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
    background-color:#DADBE0;
}
#content
{
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
}
#text
{
    margin-left:auto;
    margin-right:auto;
}
#writebutton
{
    clear:left;
}
.textclass
 {
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-width:1px;
    margin-bottom:5px;
    background-color:#284C7E;
 }
.tclass
{
    max-width:700px;
    color:#DADBE0;
}
.iconclass
{
    float:right;
}
 .timeclass
 {
     font-size:10px;
     margin-left:95%;
     
 }
.imgc
{
    width: 20px;
    height: 20px;
}
h1
{
    margin-left:auto;
    margin-right:auto;
    padding-left:300px;
    font-size:40px;
}